@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: objectSans;
    src: url(/ObjectSans-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'objectSans', sans-serif;
}
.button{
    padding: 0.5rem 1rem;
    color: black;
    background-color: white;
    border: solid black 1px;
    border-radius: 3px;
    &:hover{
        cursor: pointer;
        background-color: rgb(211, 211, 211);
    }
}

.white{
    color:white;
}
.position{
    position: relative;
    z-index: -1;
}
.title, .undertitle{
    text-align: center;
}