@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
}
.button{
    padding: 0.5rem 1rem;
    color: black;
    background-color: white;
    border: solid black 1px;
    border-radius: 3px;
    &:hover{
        cursor: pointer;
        background-color: rgb(211, 211, 211);
    }
}

