.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 1rem 0 0;
    .logoyname{
        display: flex;
        align-items: center;
    }
    .companyName{
        font-family: 'Bebas Neue', sans-serif;
         color:white;
    }

    .logo{
        height: 70px;
        filter:  brightness(150) grayscale(6) contrast(100);


    }
}
.hero{
    height: calc(100vh - 190px);
    max-height:700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .texto{
        padding: 4rem 0 2rem 0;
    }
}
.gradient{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.imgBeforAfter{
    display: grid;
    place-items: center;

    margin: 0 0 3rem 0;
    .all{
        display: flex;
        justify-content: center;
    }
    .small{
        height: 50vw;
        max-height: 400px;
    }
    .rotate{
        transform: rotate(-10deg);
    }
    .bg{
        box-shadow: 0 0 10px black;
    }
    .front{
        z-index: 1;
    }
    .abs{
        position: absolute;
    }
    .text{
        color: white;
        text-shadow:
        -1px 1px 5px black,
        1px -1px 10px black,
        1px 1px 5px black,
        -1px -1px 10px black,
        ;
        position: absolute;
    }

}