@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@font-face {
  font-family: objectSans;
  src: url(/ObjectSans-Regular.otf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'objectSans', sans-serif; }

.button {
  padding: 0.5rem 1rem;
  color: black;
  background-color: white;
  border: solid black 1px;
  border-radius: 3px; }
  .button:hover {
    cursor: pointer;
    background-color: lightgray; }

.white {
  color: white; }

.position {
  position: relative;
  z-index: -1; }

.title, .undertitle {
  text-align: center; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 0; }
  .header .logoyname {
    display: flex;
    align-items: center; }
  .header .companyName {
    font-family: 'Bebas Neue', sans-serif;
    color: white; }
  .header .logo {
    height: 70px;
    filter: brightness(150) grayscale(6) contrast(100); }

.hero {
  height: calc(100vh - 190px);
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; }
  .hero .texto {
    padding: 4rem 0 2rem 0; }

.gradient {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.imgBeforAfter {
  display: grid;
  place-items: center;
  margin: 0 0 3rem 0; }
  .imgBeforAfter .all {
    display: flex;
    justify-content: center; }
  .imgBeforAfter .small {
    height: 50vw;
    max-height: 400px; }
  .imgBeforAfter .rotate {
    transform: rotate(-10deg); }
  .imgBeforAfter .bg {
    box-shadow: 0 0 10px black; }
  .imgBeforAfter .front {
    z-index: 1; }
  .imgBeforAfter .abs {
    position: absolute; }
  .imgBeforAfter .text {
    color: white;
    text-shadow: -1px 1px 5px black, 1px -1px 10px black, 1px 1px 5px black, -1px -1px 10px black;
    position: absolute; }

.interiorShowing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; }
  .interiorShowing img {
    width: 90vw;
    max-width: 800px;
    border-radius: 30px; }
  .interiorShowing .textos {
    padding: 1rem;
    font-size: small; }
    .interiorShowing .textos .heading {
      font-size: large;
      padding-bottom: 1rem; }
    .interiorShowing .textos .infoTextos {
      padding-left: .5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
  .interiorShowing .info {
    padding: 1rem;
    margin-top: 1rem; }
    .interiorShowing .info .number {
      background-color: black;
      color: white;
      padding: .5rem .8rem;
      border-radius: 10px;
      margin-right: .5rem; }
    .interiorShowing .info .infoDiv {
      display: flex;
      align-items: center;
      margin-bottom: 2rem; }
    .interiorShowing .info .infotextsmall {
      font-weight: bold; }
    .interiorShowing .info .infotext {
      font-size: small; }

.social {
  padding: 3rem 1rem; }
  .social .images {
    margin: 2rem 0; }
  .social img {
    width: 100%;
    margin: 1rem 0;
    border-radius: 15px; }

.reviews {
  margin: 2rem 0; }
  .reviews .container {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    margin-top: 1rem; }
    .reviews .container .stars {
      display: flex;
      gap: .5rem; }
    .reviews .container .review {
      margin-right: 1rem;
      min-width: 320px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: #94C2DB;
      border-radius: 15px; }
    .reviews .container .text {
      padding: 1rem 0;
      font-size: 14px;
      flex-grow: 1; }
    .reviews .container .reviewer {
      font-size: 10px; }

.footer .position {
  transform: rotate(180deg);
  position: relative;
  top: 20px; }

.actualFooter {
  padding: 1rem;
  color: white;
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); }
  .actualFooter .business .separador {
    display: flex;
    align-items: center; }
    .actualFooter .business .separador img {
      height: 70px;
      filter: brightness(150) grayscale(6) contrast(100); }
  .actualFooter .dots {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    .actualFooter .dots .insideDot {
      padding: .2rem;
      display: flex;
      gap: 1rem; }
    .actualFooter .dots ul {
      list-style-type: none;
      padding: 1rem 0; }
      .actualFooter .dots ul li {
        padding: 0 0 .2rem 1rem;
        font-size: 12px; }
    .actualFooter .dots .title {
      font-weight: bold;
      font-size: 17px; }
