.contact_us{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;   
gap: 15px;
}
.contact_us form{
    display: flex;
    width: 900px;
    flex-direction: column;
}
.contact_us input, .contact_us textarea{
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: solid 1px var(--border_color);
    border-left: solid 1px var(--border_color);
    border-right: solid 1px var(--border_color);
    outline: none;
}
.contact_us input:nth-child(1){
    border-top: solid 1px var(--border_color);
}
.contact_us textarea{
    resize: none;
}


@media only screen and (max-width: 920px) {
    .contact_us form{
        width: 600px;
    }
}
@media only screen and (max-width: 620px) {
    .contact_us form{
        width: 370px;
    }
}
