.swiper_reviews .swiper-slide{
    border: solid black 1px ;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 240px;
}
.review_text{
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
}