.trustedby{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    text-align: center;
    padding: 30px;
    border: solid var(--border_color) 1px;
}
.trustedby p{
    font-size: 20px;
}
.swiper{
    width: 100%;
}
.swiper_trusted .swiper-wrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.swiper_trusted .swiper-slide{
    height: 100px;
    /* background-color: red !important; */
    display: flex;
    align-items: center;    
    justify-content: center;
    object-fit: cover;
}
.swiper_trusted img{
    width: 259px;
    filter: grayscale(100%);
}